@import "tailwindcss";
@import "normalize.css";

/* body{
  background-color: beige;
} */
/* body {
  place-items: center;
  min-height: 100vh;
}

*,
*:after,
*:before {
  box-sizing: border-box;
} */
