@import "https://unpkg.com/open-props@1.6.14" layer(design-system.tokens);
@import "https://unpkg.com/open-props@1.6.14/normalize.dark.min.css"
  layer(design-system.normalize);

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200..900&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Grape+Nuts&family=Lovers+Quarrel&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Srisakdi:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Grape+Nuts&family=Lovers+Quarrel&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spirax&family=Srisakdi:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Grape+Nuts&family=Lovers+Quarrel&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+IE:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spirax&family=Srisakdi:wght@400;700&display=swap");

@import "https://www.unpkg.com/layout-craft@0.1.1/dist/utilities.css"
  layer(design.utilities);

@layer base.normalize-overrides {
  :root {
    font-family: "Inter", sans-serif;
    --surface-1: black;
    --surface-2: oklch(0.19 0 0);
    --surface-3: #f1dadf;
    --text-1: white;
    --font-size-3: 6rem;

    --brand-1: oklch(0.65 0.24 16.93);
    --brand-2: oklch(0.77 0.1 90);

    --nav-block-size: 3.75rem;
    @media (width >= 1024px) {
      --nav-block-size: 4.625rem;
    }
  }

  .SIP {
    scroll-padding-block-start: var(--nav-block-size);
  }

  .SIP {
    -webkit-font-smoothing: antialiased;
  }

  .SIP {
    background-color: black;
  }
}

.SIP {
  background-color: black;
}

@layer base.containers {
  main {
    background-color: black;
    color: var(--surface-1);
  }

  .Hero {
    @media (width >= 1024px) {
      grid-template-columns: 1.5fr 1fr;
      --_gap: var(--size-10);
    }
  }
}

@layer base.components {
  .wrapperDiv {
    display: flex; // Use flexbox to arrange children side by side
    flex-direction: row; // Ensure the direction is horizontal
    align-items: flex-start; // Align items at the start of the cross axis
    justify-content: space-between; // Add space between the items
    gap: 700px;
  }

  .Visual {
    // flex: 1; // Allow the Visual to take up one part of the available space
    // max-width: 50%; // Ensure it doesn't exceed half the container width
    // position: relative;
    // z-index: 1;

    & img {
      inline-size: 100%;
      block-size: 100%;
      object-fit: cover;
      object-position: center center;

      background: var(--gradient-8);
    }
    @media (width >= 1024px) {
      > * {
        grid-area: 1/1;
      }

      & img {
        border-radius: inherit;
      }

      & picture {
        max-inline-size: 600px;
        aspect-ratio: var(--ratio-square);
        border-radius: var(--radius-3);
      }
    }

    @media (1024px < width < 1440px) {
      & img {
        max-inline-size: 500px;
      }
    }

    @media (width < 1024px) {
      > * {
        min-block-size: calc(100dvb - var(--size-9));
      }

      picture {
        inline-size: 100%;
        block-size: 100%;
      }
    }
  }

  .Content {
    > * {
      min-block-size: calc(100dvb - var(--size-9));
      //   padding-left: 400rem ;
    }
    & h3 {
      //   inline-size: 13ch;
      //   font-family: "Grape Nuts", cursive;
      //   /* font-weight: 400; */
      //   font-style: normal;
      //   text-wrap: balance;
      //   font-size: 100px;
      //   font-weight: var(--font-weight-7);
      //   line-height: var(--font-lineheight-0);
      //   padding-block-end: var(--size-4);

      inline-size: 17ch;
      text-wrap: balance;
      font-size: 5.75rem;
      font-family: "Spirax", system-ui;
      font-weight: 700;
      font-style: normal;
      color: white;
      line-height: 2rem;
    //   padding-block-end: var(--size-4);

      color: white;
      //   padding-left: 400px ;
    }

    & p {
      //   font-family: "Grape Nuts", cursive;
      //   /* font-weight: 400; */
      //   font-style: normal;
      //   font-size: 4.75rem;
      //   //   max-inline-size: var(--size-content-2);
      //   max-inline-size: 20ch;
      //   font-size: var(--font-size-3);
      //   color: white;

      inline-size: 20ch;
      /* font-size: var(--font-size-3); */
      font-family: "Srisakdi", system-ui;
      font-weight: 700;
      font-style: normal;
      font-size: 2.75rem;
      color: white;
    }

    .subhead {
      //   font-family: "Grape Nuts", cursive;
      //   /* font-weight: 400; */
      //   font-style: normal;
      //   color: var(--brand-1);
      //   font-size: var(--font-size-6);
      //   font-weight: var(--font-weight-6);
      //   max-inline-size: var(--size-content-1);
      //   line-height: var(--font-lineheight-1);
      //   text-wrap: pretty;
      padding-top: 20px;
      padding-bottom: 20px;
      color: var(--brand-1);
      font-size: var(--font-size-6);
      font-weight: var(--font-weight-6);
      font-family: "Playwrite IE", cursive;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
      max-inline-size: var(--size-content-1);
      line-height: 2rem;
      text-wrap: pretty;
    }

    @media (width < 1024px) {
      display: none;
    }

    @media (width < 1440px) {
      & h3 {
        font-size: 5rem;
      }

      .subhead {
        font-size: var(--font-size-5);
      }
    }
  }

  .SmallScreenContent {
    position: fixed;
    inset-inline: 0;
    inset-block-start: 0;
    min-block-size: var(--size-9);
    color: black;

    > * {
      grid-area: 1/1;
    }

    @media (width < 1024px) {
      background-color: black;
      > p {
        background-color: black;
        color: white;
        inline-size: 100%;
        text-align: center;
        padding: var(--size-2);
        font-family: "Grape Nuts", cursive;
        /* font-weight: 400; */
        font-style: normal;
        font-weight: var(--font-weight-5);

        box-shadow: var(--shadow-1);
      }
    }

    @media (width >= 1024px) {
      display: none;
    }
  }
}

@supports (animation-timeline: scroll()) {
  @layer animation.ScrollDriven {
    @media (width >= 1024px) {
      .SIP {
        timeline-scope: --first-lockup, --second-lockup, --third-lockup,
          --fourth-lockup, --fifth-lockup, --sixth-lockup, --seventh-lockup,
          --eighth-lockup, --nineth-lockup, --tenth-lockup, --eleventh-lockup,
          --twelveth-lockup;
      }

      picture {
        inline-size: 400px;
        transform-origin: bottom left;

        > img {
          box-shadow: var(--shadow-4);
        }
      }

      .FirstPic {
        > img {
          rotate: 8deg;
        }
      }

      .SecondPic {
        animation: auto slide-out-rotate linear both;
        /* animation-timeline: --third-lockup; */
        animation-timeline: --twelveth-lockup;

        > img {
          rotate: -5deg;
        }
      }

      .ThirdPic {
        animation: auto slide-out-rotate linear forwards;
        /* animation-timeline: --second-lockup; */
        animation-timeline: --eleventh-lockup;

        > img {
          rotate: 20deg;
        }
      }

      .FourthPic {
        animation: auto slide-out-rotate linear both;
        animation-timeline: --tenth-lockup;

        > img {
          rotate: -5deg;
        }
      }

      .FifthPic {
        animation: auto slide-out-rotate linear forwards;
        /* animation-timeline: --second-lockup; */
        animation-timeline: --nineth-lockup;

        > img {
          rotate: 20deg;
        }
      }

      .SixthPic {
        animation: auto slide-out-rotate linear both;
        animation-timeline: --eighth-lockup;

        > img {
          rotate: -5deg;
        }
      }

      .SeventhPic {
        animation: auto slide-out-rotate linear forwards;
        /* animation-timeline: --second-lockup; */
        animation-timeline: --seventh-lockup;

        > img {
          rotate: 20deg;
        }
      }

      .EighthPic {
        animation: auto slide-out-rotate linear both;
        animation-timeline: --sixth-lockup;

        > img {
          rotate: -5deg;
        }
      }

      .NinethPic {
        animation: auto slide-out-rotate linear forwards;
        /* animation-timeline: --second-lockup; */
        animation-timeline: --fifth-lockup;

        > img {
          rotate: 20deg;
        }
      }

      .TenthPic {
        animation: auto slide-out-rotate linear both;
        animation-timeline: --fourth-lockup;

        > img {
          rotate: -5deg;
        }
      }

      .EleventhPic {
        animation: auto slide-out-rotate linear forwards;
        /* animation-timeline: --second-lockup; */
        animation-timeline: --third-lockup;

        > img {
          rotate: 20deg;
        }
      }

      .TwelvethPic {
        animation: auto slide-out-rotate linear both;
        animation-timeline: --second-lockup;

        > img {
          rotate: -5deg;
        }
      }

      .FirstLockup {
        view-timeline-name: --first-lockup;
      }

      .SecondLockup {
        view-timeline-name: --second-lockup;
      }

      .ThirdLockup {
        view-timeline-name: --third-lockup;
      }

      .FourthLockup {
        view-timeline-name: --fourth-lockup;
      }

      .FifthLockup {
        view-timeline-name: --fifth-lockup;
      }

      .SixthLockup {
        view-timeline-name: --sixth-lockup;
      }

      .SeventhLockup {
        view-timeline-name: --seventh-lockup;
      }

      .EighthLockup {
        view-timeline-name: --eighth-lockup;
      }

      .NinethLockup {
        view-timeline-name: --nineth-lockup;
      }

      .TenthLockup {
        view-timeline-name: --tenth-lockup;
      }

      .EleventhLockup {
        view-timeline-name: --eleventh-lockup;
      }

      .TwelvethLockup {
        view-timeline-name: --twelveth-lockup;
      }
    }
  }

  @media (width >= 1440px) {
    .Visual picture {
      inline-size: 500px;
    }
  }
  @media (width >= 1600px) {
    .Visual picture {
      inline-size: 512px;
    }
  }

  @media (width < 1024px) {
    .SIP {
      timeline-scope: --first-pic, --second-pic, --third-pic, --fourth-pic,
        --fifth-pic, --sixth-pic, --seventh-pic, --eighth-pic, --nineth-pic,
        --tenth-pic, --eleventh-pic, --twelveth-pic;
    }

    .SmallScreenContent {
      > p {
        animation: auto reveal linear both;
        animation-range: cover 45%;
      }

      .FirstStory {
        animation-timeline: --first-pic;
      }

      .SecondStory {
        visibility: hidden;
        animation-timeline: --second-pic;
      }

      .ThirdStory {
        visibility: hidden;
        animation-timeline: --third-pic;
      }

      .FourthStory {
        visibility: hidden;
        animation-timeline: --fourth-pic;
      }

      .FifthStory {
        visibility: hidden;
        animation-timeline: --fifth-pic;
      }

      .SixthStory {
        visibility: hidden;
        animation-timeline: --sixth-pic;
      }

      .SeventhStory {
        visibility: hidden;
        animation-timeline: --seventh-pic;
      }

      .NinethStory {
        visibility: hidden;
        animation-timeline: --nineth-pic;
      }

      .TenthStory {
        visibility: hidden;
        animation-timeline: --tenth-pic;
      }

      .EleventhStory {
        visibility: hidden;
        animation-timeline: --eleventh-pic;
      }

      .TwelvethStory {
        visibility: hidden;
        animation-timeline: --twelveth-pic;
      }
    }

    .FirstPic {
      view-timeline-name: --first-pic;
    }

    .SecondPic {
      view-timeline-name: --second-pic;
    }

    .ThirdPic {
      view-timeline-name: --third-pic;
    }

    .FourthPic {
      view-timeline-name: --fourth-pic;
    }

    .FifthPic {
      view-timeline-name: --fifth-pic;
    }

    .SixthPic {
      view-timeline-name: --sixth-pic;
    }

    .SeventhPic {
      view-timeline-name: --seventh-pic;
    }

    .EighthPic {
      view-timeline-name: --eighth-pic;
    }

    .NinethPic {
      view-timeline-name: --nineth-pic;
    }

    .TenthPic {
      view-timeline-name: --tenth-pic;
    }

    .EleventhPic {
      view-timeline-name: --eleventh-pic;
    }

    .TwelvethPic {
      view-timeline-name: --twelveth-pic;
    }
  }
}

@supports not (animation-timeline: scroll()) {
  .pagination {
    display: none;
  }
}

@keyframes slide-out-rotate {
  50%,
  100% {
    transform: translate(-50%, 50%) rotate(-50deg);
  }

  40%,
  100% {
    opacity: 0;
  }
}

@keyframes reveal {
  to {
    visibility: visible;
  }
}

@keyframes highlight {
  50% {
    background-color: hsl(347, 100%, 58%);
  }
}
